<div class="uk-container uk-padding">
  <div class="uk-column-1-1@s uk-column-1-2@m uk-column-1-4@l">
    <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
      <h3 class="uk-card-title">Title One</h3>
      <p>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
      <h3 class="uk-card-title">Title Two</h3>
      <p>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
      <h3 class="uk-card-title">Title Three</h3>
      <p>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
      <h3 class="uk-card-title">Title Four</h3>
      <p>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>
</div>